build/
x64/
Debug/
Release/
bin/
lib/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.sln
*.vcxproj*
*.vcxproj.filters
*.vcxproj.user

*.log
*.obj
*.pch
*.pdb
*.ilk
*.ipch

*.exe
*.dll
*.lib
*.app
*.so
*.dylib
*.out