# Shader
*.spv

# Third Parties
include/*
!include/stb_image.h

# CMake Files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

build/
x64/
Debug/
Release/
bin/
lib/

*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.sln
*.vcxproj*
*.vcxproj.filters
*.vcxproj.user

*.log
*.obj
*.pch
*.pdb
*.ilk
*.ipch

*.exe
*.dll
*.lib
*.app
*.so
*.dylib
*.out